<div class="loaded-content" id="create-order">
	<div class="step alert alert-success" id="install_metamask">
		<h2>Before you start</h2>
		<h3>Install Metamask</h3>
		<p>You need to have Metamask installed. <a href="https://metamask.io/download.html" target="_blank">Click here to
			download and install Metamask.</a>
			<br /><br />
			When you are done, <a href="javascript:window.location.reload();">reload the page</a>
			<div class="progress">
				<div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">1 of 4</div>
			</div>
		</p>
	</div>
	<div class="step alert alert-success" id="connect_wallet">
		<h2>Before you start</h2>
		<h3>Connect your wallet</h3>
		<p>Connect your wallet to app.liminal.market.
			<br /><br />
			<button class="btn btn-success" id="click_to_connect_wallet">Click me to connect</button>
			<div class="progress">
				<div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">2 of 4</div>
			</div>
		</p>
	</div>

	<div class="step alert alert-success" id="select_network">
		<h2>Before you start</h2>
		<h3>Network</h3>
		<p>We need to put you on the correct network.
			<br />Click the button to go to test network<br /><br />
				<button data-chainid="0x13881" class="network_chooser btn btn-primary">Mumbai</button>
					<br />
					<a class="small_print" href="https://faucet.polygon.technology/" target="_blank">Get MATIC from faucet. You need if you choose Mumbai</a>
					<br /><br />
				<!--<li><a href="" data="localhost" class="network_chooser">Avalance Test</a></li>
				<li><a href="" data-chainid="0x4" class="network_chooser">Rinkeby</a>
					<br />
					<a class="small_print" href="https://faucet.rinkeby.io/" target="_blank">Get ETH from faucet. You need if you choose Rinkeby</a></li>
				-->
				<button id="network_localhost" data-chainid="0x31337" class="network_chooser btn btn-primary">Localhost</button>

		</p>
	</div>

	<div class="step alert alert-success" id="login_user">
		<h2>Before you start</h2>
		<h3>Login</h3>
		<p>You need to login. Lets do that
			<br /><br />
			<button class="btn btn-success" id="click_to_login_user">Log me in to liminal.market</button>
			<div class="progress">
				<div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">3 of 4</div>
			</div>
			<div class="alert alert-warning mt-3" id="login_user_error">You need to login to use this service</div>
		</p>
	</div>

	<div class="step alert alert-success" id="kyc_registration">
		<h2>Before you start</h2>
		<h3>(fake) KYC registration</h3>
		<p>Now we need to do KYC (know your customer). This is a regulartory requirement for buying and selling securities.
			In our case, we will do a (fake) KYC.
			<br /><br />
			<button class="btn btn-success" id="click_to_kyc_reg">Click to finish (fake) KYC.</button>
			<div class="progress">
				<div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">4 of 4</div>
			</div>
			<div class="alert alert-warning mt-3" id="login_user_error">You need to (fake) KYC to use this service.</div>
		</p>
	</div>

	<div class="step alert alert-success" id="fund_account">
		<h2>Before you start</h2>
		<h3>Fund broker account</h3>
		<p>
			Before you can start buying all the stocks you want, we need to put money into your broker account.
			<br /><br />But first, lets add <a href="" id="add_ausd_to_wallet"><img src="/img/ausd.png" width="18" /> aUSD to your wallet. Just click me</a>
			<br /><br />Now lets fund the broker account.<br />
			You have 2 options (USDC not active yet, so just 1 option)
			<ul>
				<li style="opacity:0.5;">You can send your USDC to the aUSD token.
					<div class="mt-2 ml-5">
						<input type="number" id="fund_account_amount" max="100" min="0" />
						<button id="fundUSDC" disabled class="btn btn-primary">Transfer (max $100)</button>
					</div>
				</li>
				<li>or if this is your first time, you have no idea what USDC is, or 24 hours past since you got free funding.
					<br />
					<button class="btn btn-primary" id="fundAUSD">Get free $50 funding from us.💸</button>
					<div class="small_print">Ofc. this is all fake money</div>
				</li>
			</ul>
			<div class="alert alert-warning" id="account_not_ready">Your account is not ready at the broker, so we can't fund it just yet. Wait up to 5 minutes and try clicking the button again.</div>
			<div class="progress mb-5" id="fund_progress" style="display:none;height:24px;">
				<div id="fund_progress_steps" style="width: 20%;height:24px;" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
					Lets transfer
				</div>
			</div>
		</p>
	</div>
	<div class="step alert alert-success" id="waiting_for_funding">
		<div style="text-align:center;">
			<h3>Exciting, your aUSD is on it's way.</h3>
			<p>It can take couple of minutes.<br />
				Why don't you play with<br /> over 2000+ stocks, etf's, bonds.
				<br /><br />
				<span class="litle_print">We will let you know when you have aUSD in your wallet.</span>
			</p>
				<pre>
				|
				|
				V
				</pre>

		</div>
	</div>

	<div id="buy_securities_wrapper">
		<h2 id="buy_headline">Buy securities</h2>
		<p id="buy_text">Play with amount and symbol below to see how much you can buy.</p>

		<div class="mt-3">
			<h3>Type in $ amount to buy for</h3>
			<input type="text" id="buy_amount" autocomplete="off" value=""
				placeholder="e.g. 100 for buying $100 worth" />
		</div>

		<div id="buy_securities" class="mt-3">
			<h3>Select security to buy <span id="addWalletSpan"></span></h3>
			<button class="btn btn-success w-100" id="select-symbol" name="symbol" value="" id="symbols">
				Select symbol to buy
			</button>
			<div id="add-token-info" class="alert alert-warning mt-3" role="alert"></div>
		</div>
	</div>
	<div id="offHoursInfo">
		💤 Market is closed. If you execute order it will wait until next open day.
		We can fake it for you and execute it now. Click "Off hours trading" in the menu
	</div>
	<div>
		<div id="buy-info" class="alert alert-success mt-3"></div>
	</div>
	<div id="need_native_token" class="alert alert-danger">
		You might need some native tokens to execute the trade. So go to the faucet
		and put in your address to get free tokens.
		<br /><br />
		Faucet: <a href="https://faucet.polygon.technology/" target="_blank">https://faucet.polygon.technology/</a>
		<br />
		Wallet address: <input id="native_token_address" /> <br /><br />
		This message will disapear when you have filled your wallet with token.
	</div>
	<div id="buy_button" class="mt-3">
		<button id="execute-trade" class="disabled btn btn-primary mb-3 w-100">
			Execute trade
		</button>
	</div>
	<div class="alert alert-success" role="alert" id="buy_success_message"></div>
	<div class="alert alert-danger" role="alert" id="buy_danger_message"></div>


	<div class="progress mb-5" id="buy_progress" style="display:none;height:58px;">
		<div id="buying_steps" style="height:58px;" class="progress-bar progress-bar-striped progress-bar-animated"
			role="progressbar" style="width: 16%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
		</div>
	</div>

	<div id="addNewTokenToWallet" class="alert alert-danger">
		<h4>Don't forget</h4>
		<p><a href="" id="addNewToken"><img src="" id="tokenLogo" /><span id="addNewTokenText"></span></a></p>
	</div>
</div>

<div id="use_wallet_for_orders">

	<h2>Or you can just do this in your wallet.</h2>
	<p>
		<h3>How to buy in wallet</h3>
		<ul>
			<li><a href="" id="findSymbol">Find symbol</a> you want to buy & click "Get address"</li>
			<li>Go to aUSD token and click "Send"</li>
			<li>Paste in the address for reciever.</li>
			<li>Save it to your contact list for easy access next time</li>
			<li>Type in the amount & click Confirm - we will now buy your symbol, don't forget to add it to wallet.</li>
		</ul>
		<div style="text-align: center;">
		<video loop="true" autoplay="true" controls="true" muted="true" class="video_demo">
			<source src="/img/buy.mp4" type="video/mp4">
		</video>
	</div>
	</p>

</div>