
<div>
	<form class="form-floating" id="securities_form" name="securities_form" novalidate onsubmit="return false">
		<div class="row">
			<div class="form-floating">
				<input type="search" required class="form-control" id="search_securities" name="search_securities" placeholder="MSFT, GME, AAPL" />
				<label for="search_securities">Search for symbol or name, e.g. AAPL or Apple or other 2000+ securities.</label>
			</div>
		</div>
		<div class="row">
			<div id="list_of_securities"></div>
		</div>
</div>