<div class="loaded-content">
	<h2>Sell your securities</h2>

	<h3 class="mt-2">You sell the stocks using your wallet</h3>
	<ul>
		<li>Find the token you want so sell in you wallet and click Send</li>
		<li>Put the in the aUSD address<br /><input id="aUsdAddress" style="width:100%;"></li>
		<li>Remember to save it in your contact list, for easy access next time</li>
		<li>Type in the amount & click Confirm</li>
	</ul>
	<p>We will now sell your symbol and you will get aUSD to your account.</p>
	<p class="small_print">
		Note. If you get "V0.1 doesn't support transfer", your aUSD address is wrong.<br />
		This is a sandbox version so any selling made are not done on the real market.
	</p>
</div>