<a href="#use_wallet_for_orders">Trade in your wallet instead of here</a>
<article id="liminal_market_trade_panel"></article>
<progress id="executing-trade-progress" class="d-none"></progress>
<button id="liminal_market_execute_trade"></button>

<article id="use_wallet_for_orders">
	<h2>Or you can just do this in your wallet.</h2>
	<p>
		<h3>How to buy in wallet</h3>
		<ul>
			<li><a href="" id="findSymbol">Find symbol</a> you want to buy & click "Get address"</li>
			<li>Go to your wallet and find aUSD token, click "Send"</li>
			<li>Paste in the address for receiver.</li>
			<li><em>Note: If you can, save the address to your contact list for easy access next time</em></li>
			<li>Type in the amount & click Confirm - we will now buy your symbol, don't forget to add it to wallet.</li>
		</ul>
		<div style="text-align: center;">
			<!--
			<iframe width="380" height="500" src="https://www.youtube.com/embed/m1iNotgaic4?autoplay=1&cc_load_policy=1&playlist=m1iNotgaic4&loop=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			-->
		</div>
	</p>

	<h2>Sell your securities</h2>

	<h3>You sell the stocks using your wallet</h3>
	<ul>
		<li>Find the token you want so sell in you wallet and click Send</li>
		<li>Put the in the aUSD address<br /><input id="aUsdAddress" value="{{AUSDAddress}}"></li>
		<li>Remember to save it in your contact list, for easy access next time</li>
		<li>Type in the amount & click Confirm</li>
	</ul>

</article>